/* ============================ Main styles ============================ */
::-moz-selection {
  background: rgba(255, 240, 0, 0.3); }
::selection {
  background: rgba(255, 240, 0, 0.3); }

body {
  background: #fbfbfb; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

img.alignleft {
  float: left;
  margin: 20px;
  margin-left: 0; }

img.alignright {
  float: right;
  margin: 20px;
  margin-right: 0; }

img.aligncenter {
  display: block;
  margin: 20px auto; }

img.alignnone {
  display: block;
  margin: 20px; }

input:focus, input:active,
.btn:focus,
.btn:active {
  outline: none; }

/* ============================ top-header ============================ */
.top-header {
  background: #0f85da;
  color: #fff;
  padding: 5px 15px; }
  .top-header input {
    padding: 3px 10px;
    -webkit-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
    border: 1px solid #ededed;
    font-size: 14px;
    color: #0f85da; }
  .top-header button {
    margin-left: -4px;
    border: 1px solid #ededed;
    font-size: 14px;
    padding: 3px 7px;
    -webkit-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
    border-left: none;
    background: #fff; }
    .top-header button i {
      color: #0f85da; }
  .top-header ul {
    padding: 0;
    margin: 0; }
    .top-header ul li {
      list-style: none;
      display: inline-block;
      padding-right: 5px; }
      .top-header ul li a {
        color: #fff; }
  .top-header p {
    margin: 0; }

/* ============================ header ============================ */
header {
  background: #ededed;
  padding: 15px 15px; }
  header h1 {
    margin: 0;
    text-align: center; }
  header .slogan {
    text-align: center;
    margin: 0; }
  header .phone i,
  header .mail i {
    color: #0f85da;
    margin-right: 7px; }
  header button {
    border: none;
    background: #0f85da;
    color: #fff;
    padding: 7px 25px;
    -webkit-border-radius: 7px;
            border-radius: 7px; }

/* ============================ nav ============================ */
nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  nav ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #fff; }
    nav ul li:last-child {
      border-right: 1px solid #e6e6e6; }
    nav ul li a {
      padding: 10px 0;
      display: block;
      text-transform: uppercase;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
      background: -webkit-linear-gradient(top, #fff, #e6e6e6);
      background: linear-gradient(180deg, #fff, #e6e6e6);
      color: #000;
      position: relative; }
      nav ul li a:hover {
        text-decoration: none;
        background: #fff;
        color: #000; }
        nav ul li a:hover:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          let: 0;
          width: 100%;
          height: 3px;
          background: #0f85da; }

/* ============================ top-slider ============================ */
.top-slider {
  background: #d9d9d9; }
  .top-slider .owl-wrapper {
    height: 300px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .top-slider .owl-wrapper h2,
    .top-slider .owl-wrapper h3 {
      width: 100%;
      text-align: center; }
    .top-slider .owl-wrapper .more {
      display: block;
      color: #fff;
      border: 1px solid #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 7px 25px;
      margin-top: 20px; }

.home-items .h3 {
  background: #0f85da;
  color: #fff;
  padding: 5px 15px;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  border-bottom: 3px solid #FFC400;
  margin-bottom: 0; }

.home-items .more {
  margin-top: 15px;
  display: inline-block; }

.home-items .wrapper {
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-top: none;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }

.home-items .about {
  margin-top: 20px; }

.home-items .about-wrapper {
  padding: 15px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .home-items .about-wrapper h3 {
    margin-top: 0; }

/* ============================ Fonts ============================ */
@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url(../fonts/HelveticaNeueCyr-Black.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-BlackItalic';
  src: url(../fonts/HelveticaNeueCyr-BlackItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url(../fonts/HelveticaNeueCyr-Bold.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-BoldItalic';
  src: url(../fonts/HelveticaNeueCyr-BoldItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url(../fonts/HelveticaNeueCyr-Italic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url(../fonts/HelveticaNeueCyr-Light.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-LightItalic';
  src: url(../fonts/HelveticaNeueCyr-LightItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url(../fonts/HelveticaNeueCyr-Medium.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url(../fonts/HelveticaNeueCyr-Roman.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url(../fonts/HelveticaNeueCyr-Thin.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-ThinItalic';
  src: url(../fonts/HelveticaNeueCyr-ThinItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url(../fonts/HelveticaNeueCyr-UltraLight.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLightItalic';
  src: url(../fonts/HelveticaNeueCyr-UltraLightItalic.otf); }

/* ============================ Media max-1200px ============================ */
/* ============================ Media max-992px ============================ */
/* ============================ Media max-767px ============================ */
