/* ============================ Main styles ============================ */
::-moz-selection {
  background: rgba(255, 240, 0, 0.3); }
::selection {
  background: rgba(255, 240, 0, 0.3); }

body {
  background: #edeef0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

img.alignleft {
  float: left;
  margin: 20px;
  margin-left: 0; }

img.alignright {
  float: right;
  margin: 20px;
  margin-right: 0; }

img.aligncenter {
  display: block;
  margin: 20px auto; }

img.alignnone {
  display: block;
  margin: 20px; }

input:focus, input:active,
.btn:focus,
.btn:active {
  outline: none; }

/* ============================ top-header ============================ */
.top-header {
  background: #0083c7;
  color: #fff;
  padding: 8px 15px; }
  .top-header input {
    padding: 0 10px;
    -webkit-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
    border: 1px solid #ededed;
    font-size: 14px;
    width: 160px;
    color: #0083c7; }
  .top-header button {
    margin-right: 70px;
    margin-left: -4px;
    border: 1px solid #ededed;
    font-size: 14px;
    padding: 0 7px;
    -webkit-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
    border-left: none;
    background: #fff; }
    .top-header button i {
      color: #0083c7; }
  .top-header ul {
    padding: 0;
    margin: 0; }
    .top-header ul li {
      list-style: none;
      display: inline-block;
      padding-right: 5px; }
      .top-header ul li a {
        color: #fff;
        text-transform: uppercase; }
    .top-header ul .active a {
      color: #ebb31b; }
  .top-header p {
    margin: 0; }

/* ============================ header ============================ */
header {
  background: url("../img/bg.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 15px 15px; }
  header h1 {
    margin: 0;
    text-align: center;
    color: #000;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    position: relative; }
    header h1:after {
      content: '';
      display: block;
      position: absolute;
      background: #ebb31b;
      height: 3px;
      width: 580px;
      left: 50%;
      margin-left: -290px;
      bottom: -15px; }
  header .logo {
    margin-left: 30px;
    margin-bottom: 10px; }
  header .slogan {
    text-align: center;
    margin: 0;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 18px;
    margin-left: 23px;
    color: #393939; }
  header .phone,
  header .mail {
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    color: #000;
    line-height: 32px;
    margin: 0; }
    header .phone i,
    header .mail i {
      color: #0083c7;
      margin-right: 7px;
      font-size: 20px; }
  header .phone {
    font-size: 16px; }
  header .mail {
    font-size: 15px;
    margin-bottom: 10px; }
  header button {
    border: none;
    background: #0083c7;
    color: #fff;
    padding: 9px 25px;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 15px; }

/* ============================ nav ============================ */
nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  nav ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #fff;
    position: relative; }
    nav ul li:last-child {
      border-right: 1px solid #e6e6e6; }
    nav ul li ul {
      display: none; }
    nav ul li:hover a {
      background: #fff; }
      nav ul li:hover a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #006194; }
    nav ul li:hover ul {
      left: 0;
      position: absolute;
      display: block;
      z-index: 10; }
      nav ul li:hover ul li {
        text-align: left;
        white-space: nowrap;
        border-bottom: 1px solid #e6e6e6; }
        nav ul li:hover ul li a {
          padding: 12px 25px;
          background: #fff;
          text-transform: none;
          font-family: 'HelveticaNeueCyr-Medium', sans-serif;
          font-size: 14px; }
          nav ul li:hover ul li a:after {
            display: none; }
          nav ul li:hover ul li a:hover {
            background: #f2f2f2; }
            nav ul li:hover ul li a:hover:after {
              display: none; }
    nav ul li a {
      font-family: 'HelveticaNeueCyr-Medium', sans-serif;
      font-size: 17px;
      padding: 10px 0;
      display: block;
      text-transform: uppercase;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
      background: -webkit-linear-gradient(top, #fff, #e6e6e6);
      background: linear-gradient(180deg, #fff, #e6e6e6);
      color: #000;
      position: relative; }
      nav ul li a:hover {
        text-decoration: none;
        background: #fff;
        color: #000; }
        nav ul li a:hover:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: #006194; }

/* ============================ top-slider ============================ */
.top-slider .owl-wrapper {
  background-size: cover;
  height: 345px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  color: #fff;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
  .top-slider .owl-wrapper h2,
  .top-slider .owl-wrapper p {
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: -2px -5px 7px rgba(0, 0, 0, 0.8); }
  .top-slider .owl-wrapper h2 {
    font-size: 46px;
    text-transform: uppercase; }
  .top-slider .owl-wrapper p {
    font-size: 24px;
    padding: 0 200px; }
  .top-slider .owl-wrapper .more {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 7px 35px;
    margin-top: 20px;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.2); }

/* ============================ home-items ============================ */
.home-items .products .shadow,
.home-items .services .shadow {
  position: relative;
  z-index: 1;
  display: block; }
  .home-items .products .shadow .after,
  .home-items .services .shadow .after {
    display: none; }
  .home-items .products .shadow:hover .after,
  .home-items .services .shadow:hover .after {
    z-index: 2;
    content: '';
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 4px;
    background: rgba(0, 0, 0, 0.6);
    margin-left: 4px; }
    .home-items .products .shadow:hover .after a,
    .home-items .services .shadow:hover .after a {
      color: #fff;
      font-family: 'HelveticaNeueCyr-Roman', sans-serif;
      font-size: 16px; }

.home-items img {
  position: relative;
  margin: 0 auto; }

.home-items .wrapper,
.home-items .about-wrapper {
  background: #fff; }

.home-items .h3 {
  background: #0083c7;
  color: #fff;
  padding: 5px 15px;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  border-bottom: 3px solid #ebb31b;
  margin-bottom: 0;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  line-height: 26px;
  padding-top: 9px; }

.home-items .more {
  margin-top: 15px;
  display: inline-block; }

.home-items .wrapper {
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-top: none;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }

.home-items .online .more {
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #0083c7;
  text-decoration: underline; }

.home-items .about {
  margin-top: 20px; }
  .home-items .about--h3 {
    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
    text-transform: uppercase;
    color: #000;
    line-height: 14px;
    margin-bottom: 15px;
    font-size: 18px; }
  .home-items .about--p {
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 18px;
    color: #424141;
    line-height: 24px; }

.home-items .about-wrapper {
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.home-items .news .wrapper {
  padding-top: 12px; }

.home-items .news--single img {
  width: 100px;
  height: 80px; }

.home-items .news--title {
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-size: 10px;
  margin: 0;
  color: #7a7a7a; }

.home-items .news--hr {
  margin: 5px 0; }

.home-items .news--content {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #000;
  line-height: 16px; }

.home-items .news--more {
  font-size: 9px;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  background: #888888;
  padding: 3px 7px;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

/* ============================ footer ============================ */
.footer {
  background: #fff;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  padding: 20px 15px 20px; }
  .footer--phone, .footer--mail {
    color: #706f6f;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    line-height: 30px; }
    .footer--phone i, .footer--mail i {
      color: #0083c7;
      font-size: 20px;
      margin-right: 7px; }
  .footer--phone {
    font-size: 18px;
    margin: 0;
    margin-top: 10px; }
  .footer--mail {
    font-size: 16px; }
  .footer--button {
    border: none;
    background: #0083c7;
    color: #fff;
    padding: 7px 25px;
    -webkit-border-radius: 7px;
            border-radius: 7px; }
    .footer--button:hover {
      background: #006194; }
  .footer--center {
    color: #706f6f;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    line-height: 30px; }
    .footer--center h3 {
      font-size: 16px;
      position: relative;
      margin-bottom: 30px; }
      .footer--center h3:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -80px;
        width: 160px;
        height: 1px;
        background: #706f6f; }
    .footer--center p {
      font-size: 14px;
      line-height: 20px;
      margin: 0; }
  .footer--slogan {
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #706f6f; }
  .footer--logo {
    margin-bottom: 20px; }

/* ============================ Fonts ============================ */
@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url(../fonts/HelveticaNeueCyr-Black.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-BlackItalic';
  src: url(../fonts/HelveticaNeueCyr-BlackItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url(../fonts/HelveticaNeueCyr-Bold.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-BoldItalic';
  src: url(../fonts/HelveticaNeueCyr-BoldItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url(../fonts/HelveticaNeueCyr-Italic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url(../fonts/HelveticaNeueCyr-Light.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-LightItalic';
  src: url(../fonts/HelveticaNeueCyr-LightItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url(../fonts/HelveticaNeueCyr-Medium.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url(../fonts/HelveticaNeueCyr-Roman.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url(../fonts/HelveticaNeueCyr-Thin.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-ThinItalic';
  src: url(../fonts/HelveticaNeueCyr-ThinItalic.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url(../fonts/HelveticaNeueCyr-UltraLight.otf); }

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLightItalic';
  src: url(../fonts/HelveticaNeueCyr-UltraLightItalic.otf); }

/* ============================ Media max-1200px ============================ */
/* ============================ Media max-992px ============================ */
/* ============================ Media max-767px ============================ */
